body {
    background-color: #1B2938;
    color: #1DA1F2;    
}
h1 {
    color: #E4496D;
    font-family: Arial Black; 
    font-size: 3.125rem;
}

h4 {
    color: #E4496D;
}

/* Classes */
.line {
    background-color: yellow;
}

.white-text {
    color: white;
}




/* ID's */
#top-layer {
    background-color: #252934; 
    margin-bottom: 0;
}

#bottom-layer {
    background-color: #252934; 
}