html {
    background-color: black;
}

body {
    background-color: #1B2938;
    color: #1DA1F2;
}

h1 {
    color: #E4496D;
    font-family: Arial Black;
    font-size: 3.125rem;
}

h3 {
    color: #E4496D;
    /* font-family: Arial Black;  */
}

h4 {
    color: #E4496D;
}

footer {
    padding-top: 2.5rem;
}

/* Classes */
.countdown {
    text-align: center;
    font-size: 4rem;
}

.fa-github-square {
    font-size: 4rem;
    color: #6cc644;
}

.fa-linkedin {
    font-size: 4rem;
    color: #0077b5;
}

.fa-twitter-square {
    font-size: 4rem;
    color: #1da1f2;
}

.line {
    background-color: yellow;
}

.me {
    border-radius: 50%;
}


.white-text {
    color: white;
}



/* ID's */
#top-layer {
    background-color: black;
    margin-bottom: 0;
}

#bottom-layer {
    background-color: #1B2938;
}
